<style>
    .sv {
        display: inline-block;
        width: 100%;
        height: 38px;
        position: relative;
        text-align: center;
        line-height: 38px;
    }
    .sv > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background-color: #fff;
        z-index: 4;
        cursor: move;
    }
    .sv .sv-box-up,
    .sv .sv-box-down,
    .sv .sv-box-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #e8e8e8;
        z-index: 1;
    }
    .sv .sv-box-up {
        width: 0;
        background-color: #7ac23c;
        z-index: 2;
    }
    .sv .sv-box-text {
        z-index: 3;
        background-color: transparent;
    }
    .sv ::selection {
        background-color: transparent;
    }
    .sv .sv-arrow {
        font-size: 20px;
        font-weight: bolder;
    }
    .sv .sv-right {
        width: 100%;
        display: none;
        font-size: 26px;
        color: #7ac23c;
    }
    .sv .success .sv-arrow {
        display: none;
    }
    .sv .success .sv-right {
        display: inline-block;
    }
</style>
<section>
    <h3>欢迎加入 F.e-club</h3>
    <demo-directive init="F.e-club"></demo-directive>
    <i class="icon-haha"></i>
    <i class="iconfont icon-help"></i>
    <div ng-repeat="item in data.gender">{{item.zh}}</div>
    <div>
        <a ui-sref="pager">分页器</a>
    </div>
    <div style="width: 500px; margin: 0 auto;">
        滑动验证：   <span ng-click="slidingInit.reset()">点击重置</span>
        <sliding-valid arges="slidingInit"></sliding-valid>
    </div>
    <div><a href="#" copy="点击复制内容">点击复制内容</a></div>
</section>
